<!--
// Copyright 2014 The Cayley Authors. All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->
{{define "head"}}
    <title>Cayley</title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/third_party/flatly/bootstrap.min.css">
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link href='/static/third_party/OpenSans.css' rel='stylesheet' type='text/css'>
    <link href='/static/third_party/Inconsolata.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/third_party/codemirror/codemirror.min.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/query_editor.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/third_party/jquery.min.js"></script>
    <script src="/static/third_party/bootstrap.min.js"></script>

    <!-- Codemirror -->
    <script src="/static/third_party/codemirror/codemirror.min.js"></script>
    <script src="/static/third_party/codemirror/addon/edit/matchbrackets.min.js"></script>
    <script src="/static/third_party/codemirror/addon/comment/continuecomment.min.js"></script>
    <script src="/static/third_party/codemirror/mode/javascript/javascript.min.js"></script>
    <script src="/static/third_party/snap.svg-min.js"></script>
    <script src="/static/third_party/fabric.min.js"></script>

    <!-- D3.js -->
    <script src="/static/third_party/d3.min.js"></script>
{{end}}

{{define "foot"}}
    <script type='text/javascript'>

    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
          });
        });

    </script>
{{end}}
