<!--
// Copyright 2014 The Cayley Authors. All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->
{{define "sidebar"}}
<!-- sidebar -->
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="row bottompad">
    <div class="col-xs-8 col-sm-8 col-xs-offset-2 col-sm-offset-2">
      <div class="btn-group-vertical center-block">
        <button id="run_button" type="button" class="btn btn-primary center-block">Run Query</button>
        <div class="btn-group center-block">
          <button id="selected-query-lang" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Gizmo &nbsp; <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Query Languauge</li>
            <li><a id="gizmo-dropdown" href="#">Gizmo</a></li>
            <li><a id="mql-dropdown" href="#">MQL</a></li>
            <li><a id="graphql-dropdown" href="#">GraphQL</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav">
    <li id="sbQuery"><a href="/">Query</a></li>
    <li id="sbQueryShape"><a href="/ui/query_shape">Query Shape</a></li>
    <li id="sbVisualize"><a href="/ui/visualize">Visualize</a></li>
    <li ></li>
    <li id="sbWrite"><a href="/ui/write">Write</a></li>
  </ul>

  <div class="row bottompad at-bottom">
    <div class="col-xs-8 col-sm-8 col-xs-offset-2 col-sm-offset-2">
      <!--<div class="btn-group-vertical center-block">-->
      <div class="btn-group center-block dropup">
        <button class="btn btn-sm center-block dropdown-toggle" type="button" data-toggle="dropdown"> Documentation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/docs/Quickstart-As-Application" target="_blank">Quickstart</a></li>
            <li><a href="/docs/GizmoAPI" target="_blank">Gizmo API</a></li>
            <li><a href="/docs/MQL" target="_blank">MQL</a></li>
            <li><a href="/docs/Configuration" target="_blank">Configuration</a></li>
            <li><a href="/docs/HTTP" target="_blank">HTTP API</a></li>
        </ul>
      </div>
      <!--</div>-->
    </div>
  </div>

</div>
{{end}}
